replicaCount: 1

image:
  repository: 900603399370.dkr.ecr.ap-northeast-2.amazonaws.com/membership-service-devops
  pullPolicy: IfNotPresent
  tag: "124a8404f4dc1516607d7c5340ae480e190271f7"

fullnameOverride: "stag-membership-service"

serviceAccount:
  create: false
  automount: true
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: "alb"
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
  hosts:
    - host: stag.example.com
      paths:
        - path: /
          pathType: Prefix

env: stag